---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family:        "Carnac", sans-serif;
$base-font-weight:        400;
$base-font-size:          16px;
$desktop-font-size:       $base-font-size;
$portable-font-size:      $base-font-size * 0.9375;
$mobile-font-size:        $base-font-size * 0.875;
$base-line-height:        1.5;

$spacing-unit:            30px;

$color-blue-light:        #46bce1; // or lighten(#46bce1, 5%);
$color-blue-dark:         #165a94; // actually #3475ac
$color-blue-saphire:      #4863e2;
$color-purple:            #b06dff;
$color-pink:              #ea83e5;
$color-red:               #ff5867;
$color-brown:             #c37651;
$color-savannah:          #f3ab53;
$color-yellow:            #ffdc51;
$color-green-light:       #cae156;
$color-green-mid:         #66d458;
$color-green-dark:        #00a557;

$color-grey:              #828282;
$color-grey-light:        lighten($color-grey, 40%);
$color-grey-dark:         darken($color-grey, 25%);

$text-color:              #282828;
$background-blue-light:   #4FADF6;
$background-blue-dark:    #0461CC;
$background-color-light:  lighten(#EDE1D4, 5%);
$background-color:        $background-blue-dark;
$brand-color:             $color-grey-dark;

$max-header-width:        800px;
$max-content-width:       1000px;

$on-mobile-portrait:      450px;
$on-mobile:               600px;
$on-portable:             800px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "misc",
        "layout",
        "appearance",
        "syntax-highlighting"
;
