---
title: Features
permalink: /features/
---

<div class="feature-list">
  {% assign image_left = true %}
  {% for feature in site.features %}
    <div class="feature">
      {% if feature.image_name %}
        {% if image_left == true %}
          <div class="image-left">
            {% include landscape_screenshot.html name=feature.image_name %}
          </div>
          {% assign image_left = false %}
        {% else %}
          <div class="image-right">
            {% include landscape_screenshot.html name=feature.image_name %}
          </div>
          {% assign image_left = true %}
        {% endif %}
      {% endif %}
      <h2>
        {{ feature.title }}
      </h2>
      <p>
        {{ feature.content }}
      </p>
    </div>
  {% endfor %}
</div>
