---
title: Features
permalink: /features/
---

<div class="feature-list">
  {% assign image_left = true %}
  {% for feature in site.features %}
    <div class="feature">
      {% if feature.image_name %}
        {% if image_left == true %}
          {% include feature_content.html side="left" %}
          {% assign image_left = false %}
        {% else %}
          {% include feature_content.html side="right" %}
          {% assign image_left = true %}
        {% endif %}
      {% else %}
        {% include feature_content.html side="none" %}
      {% endif %}
    </div>
  {% endfor %}
</div>
