/**
 * Header
 */
.site-header {
    background: -webkit-linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
    background: -o-linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
    background: -moz-linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
    background: linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
}

.site-title {
    font-size: 72px;
    // font-weight: 300;
    font-family: "FONTSPRING DEMO - Carnac Thin";
    color: $color-blue-dark;

    @include media-query($on-portable) {
        font-size: 9vw;
    }
}

.site-subtitle {
    font-size: 26px;
    // font-weight: 500;
    font-style: italic;
    font-weight: bold;
    font-family: "FONTSPRING DEMO - Carnac";
    color: $color-blue-light;

    @include media-query($on-portable) {
        font-size: 3.25vw;
    }
}



/**
 * Footer
 */
.footer-content {
    font-size: 0.95em;
    color: $brand-color;
}



/**
 * Site navigation bar
 */
.nav-bar {
    font-size: 1.1em;
    font-family: "FONTSPRING DEMO - Carnac Medium";
    border-bottom: 1px solid $color-grey;

    .page-self-link {
        border-bottom: 2.5px solid $color-blue-dark;
        color: $color-blue-dark;
    }
}



/**
 * Page content
 */
.main-content {
    border: 1px solid $color-grey;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: $background-color-light;
}

.page {
    h2 {
        // font-size: 32px;
        font-family: "FONTSPRING DEMO - Carnac Light";

        // @include media-query($on-portable) {
        //     font-size: 28px;
        // }
    }
}
