/**
 * Stretch main to fit site height
 */
html, body {
    height: 100%;
    margin: 0pt;
}

body {
    display: table;
    width: 100%;
    > * {
        display: table-row;
        height: 1px;
        overflow: hidden;
    }
}

.site-main {
    height: 100%;
    > .wrapper {
        height: inherit;
    }
}

.main-content {
    padding: 0px 1.5*$spacing-unit;
    height: inherit;
}

/**
 * Wrapper for content of header, main and footer
 */
.wrapper {
     max-width: $content-width;
     min-width: 0.9*$content-width;
     margin-right: auto;
     margin-left: auto;
     padding-right: 0.5*$spacing-unit;
     padding-left: 0.5*$spacing-unit;
     @extend %clearfix;

     // @include media-query($on-laptop) {
     //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     //     padding-right: $spacing-unit / 2;
     //     padding-left: $spacing-unit / 2;
     // }
 }



/**
 * Site header
 */
.site-logo {
    float: left;
    margin: $spacing-unit;
}

.site-title-wrapper {

}

.site-title {
    text-align: right;
    padding-top: 3*$spacing-unit;
    padding-right: $spacing-unit;
}

.site-subtitle {
    text-align: right;
    padding-right: $spacing-unit;
}



/**
 * Site footer
 */
.footer-content {
    padding-top: 0.5*$spacing-unit;
    padding-bottom: 0.5*$spacing-unit;
}

.footer-col {
    display: inline-block;
}

.footer-col-1 {
    text-align: left;
    width: 70%;
}

.footer-col-2 {
    text-align: right;
    width: 30%;
}

// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }
// }
//
// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }



/**
 * Site navigation bar
 */
.site-nav {
    text-align: center;
    margin-top: 0.8*$spacing-unit;
    margin-bottom: 0.5*$spacing-unit;

    > .links {
        display: inline-block;
        padding-bottom: 0.8*$spacing-unit;
    }

    .page-self-link {
        padding-bottom: 3px;
    }

    .page-link {
        // color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}



/**
 * Page content
 */
.page {
    padding: $spacing-unit 0px;
}

.feature-list {
    margin-left: 0;

    > .feature {
        clear: both;
        margin-bottom: 2*$spacing-unit;
    }
}

.image-right {
    padding-left: 2*$spacing-unit;
    float: right;
}

.image-left {
    padding-right: 2*$spacing-unit;
    float: left;
}
