/**
 * General Layout
 */
 .wrapper {
     max-width: $content-width;
     min-width: 0.9*$content-width;
     margin-right: auto;
     margin-left: auto;
     padding-right: 0.5*$spacing-unit;
     padding-left: 0.5*$spacing-unit;
     @extend %clearfix;

     // @include media-query($on-laptop) {
     //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
     //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
     //     padding-right: $spacing-unit / 2;
     //     padding-left: $spacing-unit / 2;
     // }
 }

 

/**
 * Site header
 */
.site-header {
    background: linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
}

.site-logo {
    float: left;
    margin: $spacing-unit;
}

.site-title {
    text-align: right;
    padding-top: 3*$spacing-unit;
    padding-right: $spacing-unit;
}

.site-subtitle {
    text-align: right;
    padding-right: $spacing-unit;
}



/**
 * Site footer
 */
.site-footer {
    margin-top: 0.5*$spacing-unit;
    margin-bottom: 0.5*$spacing-unit;
}

.footer-col {
    display: inline-block;
}

.footer-col-1 {
    text-align: left;
    width: 70%;
    // width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    // width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    text-align: right;
    width: 30%;
    // width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    // width:         calc(30% - (#{$spacing-unit} / 2));
}

// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }
// }
//
// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }



/**
 * Site navigation bar
 */
.site-nav {

    text-align: center;
    margin-top: 0.5*$spacing-unit;
    margin-bottom: 1.5*$spacing-unit;

    > .links {
      display: inline-block;
      padding-bottom: 0.8*$spacing-unit;
    }

    .page-self-link {
        padding-bottom: 3px;
    }

    .page-link {
        // color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    // @include media-query($on-palm) {
    //     position: absolute;
    //     top: 9px;
    //     right: $spacing-unit / 2;
    //     background-color: $background-color;
    //     border: 1px solid $color-grey-light;
    //     border-radius: 5px;
    //     text-align: right;
    //
    //     .menu-icon {
    //         display: block;
    //         float: right;
    //         width: 36px;
    //         height: 26px;
    //         line-height: 0;
    //         padding-top: 10px;
    //         text-align: center;
    //
    //         > svg {
    //             width: 18px;
    //             height: 15px;
    //
    //             path {
    //                 fill: $color-grey-dark;
    //             }
    //         }
    //     }
    //
    //     .links {
    //         clear: both;
    //         display: none;
    //     }
    //
    //     &:hover .links {
    //         display: block;
    //         padding-bottom: 5px;
    //     }
    //
    //     .page-link {
    //         display: block;
    //         padding: 5px 10px;
    //
    //         &:not(:last-child) {
    //             margin-right: 0;
    //         }
    //         margin-left: 20px;
    //     }
    // }
}



/**
 * Page content
 */
.page-content {
    min-height: 650px;
    padding: 1.5*$spacing-unit;
    padding-top: 0.3*$spacing-unit;
    padding-bottom: 0.3*$spacing-unit;
    @extend %clearfix;
}

.feature-list {
    margin-left: 0;

    > .feature {
        clear: both;
        margin-bottom: 2*$spacing-unit;
    }
}

.image-right {
    padding-left: 2*$spacing-unit;
    float: right;
}

.image-left {
    padding-right: 2*$spacing-unit;
    float: left;
}
