/**
 * Site header
 */
.site-header {
    min-height: 300px;
    background: linear-gradient($background-blue-light 10%, $background-blue-dark 90%);
}

.site-logo {
    float: left;
    margin: $spacing-unit;
}

.site-title {
    text-align: right;
    font-size: 4.4em;
    // font-weight: 300;
    font-family: "FONTSPRING DEMO - Carnac Thin"; //Sonus-ExtraLight Carnac Thin
    color: $color-blue-dark;
    padding-top: 3*$spacing-unit;
    padding-right: $spacing-unit;
}

.site-subtitle {
    text-align: right;
    font-size: 1.5em;
    // font-weight: 500;
    font-style: italic;
    font-weight: bold;
    font-family: "FONTSPRING DEMO - Carnac"; //Sonus-LightIt Carnac Light
    color: lighten($color-blue-light, 5%);
    padding-right: $spacing-unit;
}



/**
 * Site footer
 */
.site-footer {
    padding-top: 0.2*$spacing-unit;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $brand-color;
    @extend %clearfix;
}

.footer-col {
    display: inline-block;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    text-align: left;
    width: -webkit-calc(70% - (#{$spacing-unit} / 2));
    width:         calc(70% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    text-align: right;
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }
// }
//
// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }



/**
 * Site navigation bar
 */
.site-nav {

    text-align: center;
    font-size: 1.1em;
    font-family: "FONTSPRING DEMO - Carnac Medium"; //Sonus-Medium Carnac Medium
    margin-top: 0.5*$spacing-unit;
    margin-bottom: 1.5*$spacing-unit;
    border-bottom: 1px solid $color-grey;

    > .links {
      display: inline-block;
      padding-bottom: 0.8*$spacing-unit;
      // border-bottom: 1px solid $color-grey;
    }

    .page-self-link {
        padding-bottom: 3px;
        border-bottom: 2.5px solid $color-blue-dark;
        color: $color-blue-dark;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    // @include media-query($on-palm) {
    //     position: absolute;
    //     top: 9px;
    //     right: $spacing-unit / 2;
    //     background-color: $background-color;
    //     border: 1px solid $color-grey-light;
    //     border-radius: 5px;
    //     text-align: right;
    //
    //     .menu-icon {
    //         display: block;
    //         float: right;
    //         width: 36px;
    //         height: 26px;
    //         line-height: 0;
    //         padding-top: 10px;
    //         text-align: center;
    //
    //         > svg {
    //             width: 18px;
    //             height: 15px;
    //
    //             path {
    //                 fill: $color-grey-dark;
    //             }
    //         }
    //     }
    //
    //     .links {
    //         clear: both;
    //         display: none;
    //     }
    //
    //     &:hover .links {
    //         display: block;
    //         padding-bottom: 5px;
    //     }
    //
    //     .page-link {
    //         display: block;
    //         padding: 5px 10px;
    //
    //         &:not(:last-child) {
    //             margin-right: 0;
    //         }
    //         margin-left: 20px;
    //     }
    // }
}



/**
 * Page content
 */
.page-content {
    border: 1px solid $color-grey;
    border-radius: 10px;
    background-color: $background-color-light;
    min-height: 650px;
    padding: 1.5*$spacing-unit;
    padding-top: 0.3*$spacing-unit;
    padding-bottom: 0.3*$spacing-unit;
    @extend %clearfix;
}

.page {
    h2 {
        // font-size: 32px;
        font-family: "FONTSPRING DEMO - Carnac Light";

        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }
}

.feature-list {
    margin-left: 0;

    > .feature {
        clear: both;
        margin-bottom: 2*$spacing-unit;
    }
}

.image-right {
    padding-left: 2*$spacing-unit;
    float: right;
}

.image-left {
    padding-right: 2*$spacing-unit;
    float: left;
}
