/**
 * Device Screenshots
 */
.lanscape-device {
    position: relative;
    float: inherit;
    padding: 20px;
    padding-top: 0.5*$spacing-unit;
    padding-bottom: 1.5*$spacing-unit;

    .lanscape-screenshot {
      position: absolute;
      padding: inherit;
      width: 255px;
      height: 191px;
      left: 30px;
      top: 16px;
    }
}

.portrait-device {
    position: relative;
    float: left;
    padding-right: 40px;
    padding-bottom: 1.5*$spacing-unit;

    .portrait-screenshot {
      position: absolute;
      padding: inherit;
      width: 295px;
      height: 393px;
      left: 22px;
      top: 45px;
    }
}



/**
 * App store badge
 */
.badge--appstore {

    > svg {
        height: 40px;
    }
}
