/**
 * Device Screenshots
 */
.landscape-device {
    position: relative;
    float: inherit;

    .landscape-screenshot {
        position: absolute;
        padding: inherit;
        width: 255px;
        height: 191px;
        left: 30px;
        top: 16px;
    }

    @include media-query($on-portable) {
        > img {
            width: 260px;
        }

        .landscape-screenshot {
            width: 210px;
            height: 158px;
            left: 25px;
            top: 13px;
        }
    }

    @include media-query($on-mobile) {
        > img {
            width: 200px;
        }

        .landscape-screenshot {
            width: 164px;
            height: 122px;
            left: 19px;
            top: 10px;
        }
    }
}

.content-image {
    float: left;
    margin: 0px 4% 7% 0px;

    > img {
        width: 360px;

        @include media-query($on-portable) {
            width: 290px;
        }

        @include media-query($on-mobile) {
            width: 240px;
        }
    }

    @include media-query($on-mobile-portrait) {
        float: none;
        margin: 0px 0px 0.5*$spacing-unit 0px;

        > img {
            display: block;
            margin: auto;
        }
    }
}



/**
 * App store badge
 */
.badge--appstore {

    > svg {
        height: 40px;
    }
}
