/**
 * Device Screenshots
 */
.landscape-screenshot {
    background: url("/assets/landscape.png") no-repeat;
    display: inline-block;
    width: 253px;
    height: 190px;
    padding: 16px 30px;

    @include media-query($on-portable) {
        background-size: 260px;
        width: 210px;
        height: 158px;
        padding: 13px 25px;
    }

    @include media-query($on-mobile) {
        background-size: 200px;
        width: 164px;
        height: 122px;
        padding: 10px 19px;
    }
}



.content-image {
    float: left;
    margin: 0px 4% 7% 0px;

    > img {
        width: 360px;

        @include media-query($on-portable) {
            width: 290px;
        }

        @include media-query($on-mobile) {
            width: 240px;
        }
    }

    @include media-query($on-mobile-portrait) {
        float: none;
        margin: 0px 0px 0.5*$spacing-unit 0px;

        > img {
            display: block;
            margin: auto;
        }
    }
}



/**
 * App store badge
 */
.badge--appstore {

    > svg {
        height: 40px;
    }
}
